.container-full {
  margin: 0 auto;
  width: 100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.top-buffer { padding-top:10px; }
.bottom-buffer { padding-bottom:10px; }
.caption {text-align:center;}
.margin{
	margin-left: 20px;
}
.margin:before {
  content: "\2023\00A0";
}

.face {
	border: 0;
	width: 30px;
	height: 30px;
	background: url("../images/faces.png") 0 0 no-repeat !important;
}
.face.active{
	background: url("../images/faces.active.png") 0 0 no-repeat !important;
}
.face3, .face3.active{
	background-position: -30px 0px !important;
}
.face2, .face2.active{
	background-position: 0px 0px !important;
}
.face1, .face1.active{
	background-position: -60px -60px !important;
}
.face0, .face0.active{
	background-position: -60px -30px !important;
}

/* angularjs animation */
.slide.ng-move,
.slide.ng-enter,
.slide.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
 
.slide.ng-leave.ng-leave-active,
.slide.ng-move,
.slide.ng-enter {
  opacity:0;
  max-height:0;
}
 
.slide.ng-leave,
.slide.ng-move.ng-move-active,
.slide.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.panel-heading a, .panel-heading a:hover{
	color: white;
}

button.navbar-btn.no-collapse{
	margin: 2px 8px 0px 8px !important;
}

button.btn-dropdown-like,button.btn-dropdown-like.open{
	border: 0px;
	background-color: #f8f8f8 !important;
	color: #777777;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}